<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.job.dao.RecruitmentMapper">
  <resultMap id="BaseResultMap" type="com.job.pojo.Recruitment">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="position" jdbcType="VARCHAR" property="position" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="worktime" jdbcType="TIMESTAMP" property="worktime" />
    <result column="workplace" jdbcType="VARCHAR" property="workplace" />
    <result column="contacts" jdbcType="VARCHAR" property="contacts" />
    <result column="tel" jdbcType="VARCHAR" property="tel" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
    <result column="hit" jdbcType="INTEGER" property="hit" />
    <result column="typename" jdbcType="VARCHAR" property="typename" />
    <result column="freeze" jdbcType="INTEGER" property="freeze" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.job.pojo.RecruitmentWithBLOBs">
    <result column="demend" jdbcType="LONGVARCHAR" property="demend" />
    <result column="workdescribe" jdbcType="LONGVARCHAR" property="workdescribe" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, position, username, worktime, workplace, contacts, tel, address, time, hit, typename, 
    freeze
  </sql>
  <sql id="Blob_Column_List">
    demend, workdescribe
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.job.pojo.RecruitmentExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from recruitment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.job.pojo.RecruitmentExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from recruitment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.job.pojo.RecruitmentExample">
    delete from recruitment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.job.pojo.RecruitmentWithBLOBs">
    insert into recruitment (id, position, username, 
      worktime, workplace, contacts, 
      tel, address, time, 
      hit, typename, freeze, 
      demend, workdescribe)
    values (#{id,jdbcType=INTEGER}, #{position,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, 
      #{worktime,jdbcType=TIMESTAMP}, #{workplace,jdbcType=VARCHAR}, #{contacts,jdbcType=VARCHAR}, 
      #{tel,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{time,jdbcType=TIMESTAMP}, 
      #{hit,jdbcType=INTEGER}, #{typename,jdbcType=VARCHAR}, #{freeze,jdbcType=INTEGER}, 
      #{demend,jdbcType=LONGVARCHAR}, #{workdescribe,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.job.pojo.RecruitmentWithBLOBs">
    insert into recruitment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="position != null">
        position,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="worktime != null">
        worktime,
      </if>
      <if test="workplace != null">
        workplace,
      </if>
      <if test="contacts != null">
        contacts,
      </if>
      <if test="tel != null">
        tel,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="time != null">
        time,
      </if>
      <if test="hit != null">
        hit,
      </if>
      <if test="typename != null">
        typename,
      </if>
      <if test="freeze != null">
        freeze,
      </if>
      <if test="demend != null">
        demend,
      </if>
      <if test="workdescribe != null">
        workdescribe,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="position != null">
        #{position,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="worktime != null">
        #{worktime,jdbcType=TIMESTAMP},
      </if>
      <if test="workplace != null">
        #{workplace,jdbcType=VARCHAR},
      </if>
      <if test="contacts != null">
        #{contacts,jdbcType=VARCHAR},
      </if>
      <if test="tel != null">
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="hit != null">
        #{hit,jdbcType=INTEGER},
      </if>
      <if test="typename != null">
        #{typename,jdbcType=VARCHAR},
      </if>
      <if test="freeze != null">
        #{freeze,jdbcType=INTEGER},
      </if>
      <if test="demend != null">
        #{demend,jdbcType=LONGVARCHAR},
      </if>
      <if test="workdescribe != null">
        #{workdescribe,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.job.pojo.RecruitmentExample" resultType="java.lang.Long">
    select count(*) from recruitment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update recruitment
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.position != null">
        position = #{record.position,jdbcType=VARCHAR},
      </if>
      <if test="record.username != null">
        username = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.worktime != null">
        worktime = #{record.worktime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.workplace != null">
        workplace = #{record.workplace,jdbcType=VARCHAR},
      </if>
      <if test="record.contacts != null">
        contacts = #{record.contacts,jdbcType=VARCHAR},
      </if>
      <if test="record.tel != null">
        tel = #{record.tel,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null">
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.time != null">
        time = #{record.time,jdbcType=TIMESTAMP},
      </if>
      <if test="record.hit != null">
        hit = #{record.hit,jdbcType=INTEGER},
      </if>
      <if test="record.typename != null">
        typename = #{record.typename,jdbcType=VARCHAR},
      </if>
      <if test="record.freeze != null">
        freeze = #{record.freeze,jdbcType=INTEGER},
      </if>
      <if test="record.demend != null">
        demend = #{record.demend,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.workdescribe != null">
        workdescribe = #{record.workdescribe,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update recruitment
    set id = #{record.id,jdbcType=INTEGER},
      position = #{record.position,jdbcType=VARCHAR},
      username = #{record.username,jdbcType=VARCHAR},
      worktime = #{record.worktime,jdbcType=TIMESTAMP},
      workplace = #{record.workplace,jdbcType=VARCHAR},
      contacts = #{record.contacts,jdbcType=VARCHAR},
      tel = #{record.tel,jdbcType=VARCHAR},
      address = #{record.address,jdbcType=VARCHAR},
      time = #{record.time,jdbcType=TIMESTAMP},
      hit = #{record.hit,jdbcType=INTEGER},
      typename = #{record.typename,jdbcType=VARCHAR},
      freeze = #{record.freeze,jdbcType=INTEGER},
      demend = #{record.demend,jdbcType=LONGVARCHAR},
      workdescribe = #{record.workdescribe,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update recruitment
    set id = #{record.id,jdbcType=INTEGER},
      position = #{record.position,jdbcType=VARCHAR},
      username = #{record.username,jdbcType=VARCHAR},
      worktime = #{record.worktime,jdbcType=TIMESTAMP},
      workplace = #{record.workplace,jdbcType=VARCHAR},
      contacts = #{record.contacts,jdbcType=VARCHAR},
      tel = #{record.tel,jdbcType=VARCHAR},
      address = #{record.address,jdbcType=VARCHAR},
      time = #{record.time,jdbcType=TIMESTAMP},
      hit = #{record.hit,jdbcType=INTEGER},
      typename = #{record.typename,jdbcType=VARCHAR},
      freeze = #{record.freeze,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <resultMap id="BaseResultMap" type="com.job.pojo.Recruitment">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="position" jdbcType="VARCHAR" property="position" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="worktime" jdbcType="TIMESTAMP" property="worktime" />
    <result column="workplace" jdbcType="VARCHAR" property="workplace" />
    <result column="contacts" jdbcType="VARCHAR" property="contacts" />
    <result column="tel" jdbcType="VARCHAR" property="tel" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
    <result column="hit" jdbcType="INTEGER" property="hit" />
    <result column="typename" jdbcType="VARCHAR" property="typename" />
    <result column="freeze" jdbcType="INTEGER" property="freeze" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.job.pojo.RecruitmentWithBLOBs">
    <result column="demend" jdbcType="LONGVARCHAR" property="demend" />
    <result column="workdescribe" jdbcType="LONGVARCHAR" property="workdescribe" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, position, username, worktime, workplace, contacts, tel, address, time, hit, typename, 
    freeze
  </sql>
  <sql id="Blob_Column_List">
    demend, workdescribe
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.job.pojo.RecruitmentExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from recruitment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.job.pojo.RecruitmentExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from recruitment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.job.pojo.RecruitmentExample">
    delete from recruitment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.job.pojo.RecruitmentWithBLOBs">
    insert into recruitment (id, position, username, 
      worktime, workplace, contacts, 
      tel, address, time, 
      hit, typename, freeze, 
      demend, workdescribe)
    values (#{id,jdbcType=INTEGER}, #{position,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, 
      #{worktime,jdbcType=TIMESTAMP}, #{workplace,jdbcType=VARCHAR}, #{contacts,jdbcType=VARCHAR}, 
      #{tel,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{time,jdbcType=TIMESTAMP}, 
      #{hit,jdbcType=INTEGER}, #{typename,jdbcType=VARCHAR}, #{freeze,jdbcType=INTEGER}, 
      #{demend,jdbcType=LONGVARCHAR}, #{workdescribe,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.job.pojo.RecruitmentWithBLOBs">
    insert into recruitment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="position != null">
        position,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="worktime != null">
        worktime,
      </if>
      <if test="workplace != null">
        workplace,
      </if>
      <if test="contacts != null">
        contacts,
      </if>
      <if test="tel != null">
        tel,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="time != null">
        time,
      </if>
      <if test="hit != null">
        hit,
      </if>
      <if test="typename != null">
        typename,
      </if>
      <if test="freeze != null">
        freeze,
      </if>
      <if test="demend != null">
        demend,
      </if>
      <if test="workdescribe != null">
        workdescribe,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="position != null">
        #{position,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="worktime != null">
        #{worktime,jdbcType=TIMESTAMP},
      </if>
      <if test="workplace != null">
        #{workplace,jdbcType=VARCHAR},
      </if>
      <if test="contacts != null">
        #{contacts,jdbcType=VARCHAR},
      </if>
      <if test="tel != null">
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="hit != null">
        #{hit,jdbcType=INTEGER},
      </if>
      <if test="typename != null">
        #{typename,jdbcType=VARCHAR},
      </if>
      <if test="freeze != null">
        #{freeze,jdbcType=INTEGER},
      </if>
      <if test="demend != null">
        #{demend,jdbcType=LONGVARCHAR},
      </if>
      <if test="workdescribe != null">
        #{workdescribe,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.job.pojo.RecruitmentExample" resultType="java.lang.Long">
    select count(*) from recruitment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update recruitment
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.position != null">
        position = #{record.position,jdbcType=VARCHAR},
      </if>
      <if test="record.username != null">
        username = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.worktime != null">
        worktime = #{record.worktime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.workplace != null">
        workplace = #{record.workplace,jdbcType=VARCHAR},
      </if>
      <if test="record.contacts != null">
        contacts = #{record.contacts,jdbcType=VARCHAR},
      </if>
      <if test="record.tel != null">
        tel = #{record.tel,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null">
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.time != null">
        time = #{record.time,jdbcType=TIMESTAMP},
      </if>
      <if test="record.hit != null">
        hit = #{record.hit,jdbcType=INTEGER},
      </if>
      <if test="record.typename != null">
        typename = #{record.typename,jdbcType=VARCHAR},
      </if>
      <if test="record.freeze != null">
        freeze = #{record.freeze,jdbcType=INTEGER},
      </if>
      <if test="record.demend != null">
        demend = #{record.demend,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.workdescribe != null">
        workdescribe = #{record.workdescribe,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update recruitment
    set id = #{record.id,jdbcType=INTEGER},
      position = #{record.position,jdbcType=VARCHAR},
      username = #{record.username,jdbcType=VARCHAR},
      worktime = #{record.worktime,jdbcType=TIMESTAMP},
      workplace = #{record.workplace,jdbcType=VARCHAR},
      contacts = #{record.contacts,jdbcType=VARCHAR},
      tel = #{record.tel,jdbcType=VARCHAR},
      address = #{record.address,jdbcType=VARCHAR},
      time = #{record.time,jdbcType=TIMESTAMP},
      hit = #{record.hit,jdbcType=INTEGER},
      typename = #{record.typename,jdbcType=VARCHAR},
      freeze = #{record.freeze,jdbcType=INTEGER},
      demend = #{record.demend,jdbcType=LONGVARCHAR},
      workdescribe = #{record.workdescribe,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update recruitment
    set id = #{record.id,jdbcType=INTEGER},
      position = #{record.position,jdbcType=VARCHAR},
      username = #{record.username,jdbcType=VARCHAR},
      worktime = #{record.worktime,jdbcType=TIMESTAMP},
      workplace = #{record.workplace,jdbcType=VARCHAR},
      contacts = #{record.contacts,jdbcType=VARCHAR},
      tel = #{record.tel,jdbcType=VARCHAR},
      address = #{record.address,jdbcType=VARCHAR},
      time = #{record.time,jdbcType=TIMESTAMP},
      hit = #{record.hit,jdbcType=INTEGER},
      typename = #{record.typename,jdbcType=VARCHAR},
      freeze = #{record.freeze,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>